/* TMCore/static/css/styles.css */
:root {
    --user-text-color: #54443c ; /* #54443c */
    --user-bg-color: #d9c1b9; /* #a37566 */ 
    --user-color: #81646b; /* #bcac94 */ 
    --user-font-size-header: 24px;
    --user-font-size-body: 16px;
    --user-font-family: "Gill Sans Extrabold", sans-serif; /* Fonte padrão */
}

h2 {
    text-align: center;
    font-family: var(--user-font-family);
}

body {
    background-color: var(--user-bg-color); /* Cor de fundo cinza claro */
    color: var(--user-text-color); /* Cor do texto cinza escuro */
    font-family: var(--user-font-family);
}

.master_menu {
    background-color: var(--user-color); /* Cor de fundo cinza claro */
    color: var(--user-text-color); /* Cor do texto cinza escuro */
    font-family: var(--user-font-family);
    padding: 10px 0;
}

.contaner{
    background-color: var(--user-color);
    color: var(--user-text-color);
    font-family: var(--user-font-family);
}

.container-fluid.contaner-tmorganizer {
    background-color: var(--user-color);
    color: var(--user-text-color);
    font-family: var(--user-font-family);
}

.contaner img {
    width: 30%;
    height: auto;
    aspect-ratio: 16 / 9;
    object-fit: contain;
}

.endpage-tmorganizer {
    background-color: var(--user-color);
    padding: 10px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: var(--user-font-size-body);
    letter-spacing: 0.106em;
    color: var(--user-text-color);
    font-family: var(--user-font-family);
}